# Downloaded artifacts
*.war
*.jar

# Jenkins logs
logs/

# Self-hosted Git server data
services/gitea/data

# Jenkins data
data/

# Locally stored secrets
secrets/

# node_modules
node_modules

# Sonatype Nexus installation
sonatype/nexus-*
sonatype/sonatype-work/nexus3

# dotenv files used to stored sensitive information locally
.env